<a href="https://colab.research.google.com/github/Lindbeck99/Cursos_Python/blob/main/Machine%20Learning%20e%20Data%20Science%20com%20Python/Processamento%20dos%20Dados/Tratamento_de_Valores_Faltantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Visualização dos Dados

In [25]:
import pandas
dados_credito = pandas.read_csv('/content/drive/MyDrive/Github/Dados_Credito.csv')
dados_credito.head(0)

Empty DataFrame
Columns: [Unnamed: 0, Idade, Salário, Modo de Moradia, Duração Emp., Motivo, Score, Valor do Emp., Taxa de Emp., Status do Emp., Emp./Salário, Tempo de Hisórico de Crédito]
Index: []

In [30]:
dados_credito.isnull().sum()

Unnamed: 0                      0
Idade                           0
Salário                         0
Modo de Moradia                 0
Duração Emp.                    0
Motivo                          0
Score                           0
Valor do Emp.                   0
Taxa de Emp.                    0
Status do Emp.                  0
Emp./Salário                    0
Tempo de Hisórico de Crédito    0
dtype: int64

In [29]:
dados_credito['Duração Emp.'].fillna(dados_credito['Duração Emp.'].mean(), inplace=True)
dados_credito['Taxa de Emp.'].fillna(dados_credito['Taxa de Emp.'].mean(), inplace=True)