<a href="https://colab.research.google.com/github/Lindbeck99/Cursos_Python/blob/main/Machine%20Learning%20e%20Data%20Science%20com%20Python%20/%20Processamento%20dos%20Dados%20/%2004.%20Divis%C3%A3o%20entre%20Previsores%20e%20Classe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas, numpy
dados_credito = pandas.read_csv('/content/drive/MyDrive/Github/Dados_Credito.csv')
dados_credito.head(1)

,Unnamed: 0,Idade,Salário,Modo de Moradia,Duração Emp.,Motivo,Score,Valor do Emp.,Taxa de Emp.,Status do Emp.,Emp./Salário,Tempo de Hisórico de Crédito
0,0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,3

In [2]:
previsores_x1 = dados_credito.iloc[:, 1:9].values
previsores_x2 = dados_credito.iloc[:, 10:12].values
previsores_y = dados_credito.iloc[:, 9].values

In [3]:
previsores_x1 = numpy.array(previsores_x1)
previsores_x2 = numpy.array(previsores_x2)

previsores_x = numpy.concatenate((previsores_x1, previsores_x2), axis=1)
previsores_y = numpy.array(previsores_y)

In [5]:
previsores_x

array([[22, 59000, 'RENT', ..., 16.02, 0.59, 3.0],
       [21, 9600, 'OWN', ..., 11.14, 0.1, 2.0],
       [25, 9600, 'MORTGAGE', ..., 12.87, 0.57, 3.0],
       ...,
       [65, 76000, 'RENT', ..., 10.99, 0.46, 28.0],
       [56, 150000, 'MORTGAGE', ..., 11.48, 0.1, 26.0],
       [66, 42000, 'RENT', ..., 9.99, 0.15, 30.0]], dtype=object)