<a href="https://colab.research.google.com/github/Lindbeck99/Cursos_Python/blob/main/Pandas/Aula2_Dataframe_Basics/Aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas
arquivo = pandas.read_csv('/content/wheater_data.csv')
arquivo

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
rows, columns = arquivo.shape
rows

6

In [8]:
arquivo.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [9]:
arquivo.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
arquivo.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
print(arquivo.temperature.max())
print(arquivo.temperature.mean())
print(arquivo.temperature.min())

35
30.333333333333332
24

In [17]:
arquivo.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [22]:
arquivo[['day', 'temperature']][arquivo.temperature<arquivo.temperature.mean()]

        day  temperature
2  1/3/2017           28
3  1/4/2017           24

In [24]:
arquivo.set_index('day', inplace=True)

In [26]:
arquivo.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [27]:
arquivo.reset_index(inplace=True)
arquivo

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny