<a href="https://colab.research.google.com/github/Lindbeck99/Cursos_Python/blob/main/Pandas/Aula7_Concatenating_DataFrames/Aula_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas
clima_pr = pandas.DataFrame({
    'Cidades': ['Curitiba', 'Guaratuba', 'Ponta Grossa'],  
    'Clima': [22, 26, 20],
    'Humidade': [67, 85, 58]  
})
clima_pr

        Cidades  Clima  Humidade
0      Curitiba     22        67
1     Guaratuba     26        85
2  Ponta Grossa     20        58

In [3]:
clima_rs = pandas.DataFrame({
    'Cidades': ['Caxias', 'Porto Alegre', 'Santa Maria'],  
    'Clima': [13, 19, 15],
    'Humidade': [71, 80, 80]  
})
clima_rs

        Cidades  Clima  Humidade
0        Caxias     13        71
1  Porto Alegre     19        80
2   Santa Maria     15        80

In [7]:
clima = pandas.concat([clima_rs, clima_pr], ignore_index=True)
clima

        Cidades  Clima  Humidade
0        Caxias     13        71
1  Porto Alegre     19        80
2   Santa Maria     15        80
3      Curitiba     22        67
4     Guaratuba     26        85
5  Ponta Grossa     20        58

In [8]:
clima = pandas.concat([clima_rs, clima_pr], keys=['Rio Grande do Sul', 'Paraná'])
clima

                          Cidades  Clima  Humidade
Rio Grande do Sul 0        Caxias     13        71
                  1  Porto Alegre     19        80
                  2   Santa Maria     15        80
Paraná            0      Curitiba     22        67
                  1     Guaratuba     26        85
                  2  Ponta Grossa     20        58